:root {
    --clr-background-: rgb(243, 226, 226);
    --clr-primary-: black;
    --clr-primary-italic-: rgb(82, 83, 72);
    --clr-accent-: rgb(1, 151, 1);

    --font-family-heading-: Arial, Helvetica, sans-serif;
    --font-family-primary-: monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: var(--clr-background-);
    font-family: var(--font-family-primary-);
}

.kravet{
    margin-top: 100px;
}

section{
    margin: 0 4rem 0 4rem;
}

h1,
h2,
h3 {
    font-family: var(--font-family-heading-);
    color: var(--clr-accent-);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.75rem;
}

p {
    font-size: 1.4rem;
    max-width: 35%;
}

i{
    font-size: 1.66rem;
    color: var(--clr-primary-italic-);

}

ul{
    list-style: none;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
}

li a:hover{
    color: var(--clr-accent-);
    background-color: var(--clr-primary-);
}

a:active{
    color: var(--clr-accent-);
    text-decoration: none;
}

a:link, a:visited{
    color: var(--clr-primary-);
    text-decoration: none;
}

.nav-list {
    background-color: var(--clr-accent-);
    padding: 0 20px;
}

.nav-list ul, .nav-list a {
    font-size: 1.75rem;
    display: flex;
    flex-basis: 2rem;
    /*Kravet*/
    margin: 0 20px 0 20px;
    padding: 0.25rem;
}

.nav-list ul :hover {
    color: var(--clr-background-);
    background-color: var(--clr-primary-);
}

.nav-list ul a :active {
    color: var(--clr-accent-);
}

.home-info {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: start;
}

.home-info-subcontainer p{
    max-width: 50%;
}

#me-pic{
    max-width: 100%;
}

#home-quote {
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 4rem;
    padding: 0rem;
}

label, button{
    font-size: 1.4rem;
}

form button{
    margin-top: 1rem;
}